@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: (
    "primary": (
      "base": #2c974b,
    ),
    "success": (
      "base": #67c23a,
    ),
    "warning": (
      "base": #f1e05a,
    ),
    "danger": (
      "base": #f56c6c,
    ),
    "error": (
      "base": #f56c6c,
    ),
    "info": (
      "base": #57606a,
    ),
  ),
  // $button-padding-horizontal: (
  //   "default": 80px,
  // )
  $menu:
    (
      "border-color": transparent,
      "hover-bg-color": transparent,
      "item-height": 35px,
    ),
  $box-shadow: (
    "light": 0 0px 0px 0 rgba(0, 0, 0, 0.1),
  ),
  $dropdown: (
    "menuItem-hover-color": #fff,
    "menuItem-hover-fill": #0969da,
  ),
  $border-radius: (
    "base": 6px,
  ),
  $border-color: (
    "base": #d0d7de,
  )
);
