@import "./variables.scss";

.el-menu {
  border-style: hidden;
}

.is-active {
  color: #3869da !important;
}

.el-menu-item:hover {
  text-decoration: underline;
}

.el-sub-menu {
  .el-sub-menu__title {
    height: 35px;
    .el-sub-menu__icon-arrow {
      display: none;
    }
  }
  .el-menu {
    div {
      height: 35px;
      .el-menu-item {
        height: 35px;
        padding-left: 26px !important;
      }
    }
  }
}

.el-sub-menu__title:hover {
  background-color: #fff;
  text-decoration: underline;
}

.el-menu-item.is-active {
  color: #000 !important;
  text-decoration: underline;
}

.el-breadcrumb {
  .el-breadcrumb__item {
    .el-breadcrumb__separator {
      margin: 0 4px;
    }
    .el-breadcrumb__inner {
      color: $navbarText;
      a {
        font-weight: 400;
        color: $navbarText;
        &:hover {
          color: $navbarTextHover;
        }
      }
      span {
        color: $navbarText;
        cursor: pointer;
        &:hover {
          color: $navbarTextHover;
        }
      }
    }
  }
}

.el-collapse-transition-enter-active {
  transition-duration: 0ms !important;
}
.el-collapse-transition-enter-to {
  transition-duration: 0ms !important;
}
.el-collapse-transition-leave-active {
  transition-duration: 0ms !important;
}
.el-collapse-transition-leave-to {
  transition-duration: 0ms !important;
}
