@import "./variables.scss";

.el-menu {
  border-style: hidden;
}

.is-active {
  color: #3869da !important;
}

.el-menu-item {
  height: 40px;
  line-height: 40px;
}

.el-menu-item:hover {
  text-decoration: underline;
}

.el-sub-menu {
  .el-sub-menu__title {
    height: 40px;
  }
  .el-menu {
    div {
      height: 40px;
      .el-menu-item {
        height: 40px;
      }
    }
  }
}

.el-sub-menu__title:hover {
  background-color: #fff;
  text-decoration: underline;
}

.el-menu-item.is-active {
  color: #000 !important;
  text-decoration: underline;
}
