// default
$defaultColor: #24292f;
$defaultFontSize: 14px;

// navbar
$navbarBg: $defaultColor;
$navbarText: #fff;
$navbarTextHover: #aabfc1;

// sidebar
$menuBg: #fff;
$menuText: $defaultColor;
$sideBarWidth: 350px;

// AppMain
$appmainBg: #f6f8fa;
